.carousel{
    text-shadow: black 0.1em 0.1em 0.2em;
}

.imgcarrossel{
    height: 500px;
}

#carouselExampleIndicators{
    margin-top: 106px;
}

.carro-titulo{
    font-size: 35px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: .1em;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.carro-titulo::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 8px auto;
}

.carro-texto{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

/* videos */

.videos{
    margin: 0 auto;
    text-align: center;
}

.video-teste{
    padding-top: 40px;
    padding-bottom: 40px;
}

.videos iframe{
    margin-top: 20px;
    width: 280px;
    height: 250px;
    margin-left: 9px;
}

.videos a{
    margin-top: 20px;
}

.videos a:hover{
    border-color: #2c4d84;
    color: #2c4d84;
}

/* Serviços */

.servicos{
    padding: 40px;
    background-color: #2c4d84;
    text-align: center;
}

.servicos img{
    width: 160px;
    height: 150px;
    margin: 0 auto;
}

.servicos h3{
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    /* text-align: center; */
}

.servicos h2{
    color: white;
}

.serv{
    margin-top: 30px;
}


/* sobre */

.sobre {
    padding: 60px 0;
}

.sobre p {
    text-align: justify;
    font-size: 15px;

}

.sobre_empresa {
    margin-top: 8px;
}

.foto-sobre{
    margin-top: 40px;
}

.empresa h2 {
    margin-bottom: 35px;
}

.qualidade {
    background-color: #2c4d84;
    padding: 60px 0;
}


.qualidade .subtitulo {
    color: white;
}

.qualidade_lista li {
    text-align: center;
    padding: 0 40px;
    bottom: 10px;
}

.qualidade_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 40px;
    color: white;
}

.qualidade_lista li h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #95ae0b;
    margin: 6px auto;
}

.qualidade p {
    color: white;
    line-height: 20px;
}

#logo_qualidade {
    height: 100px;
    width: 140px;
    margin: 0 auto;
    margin-top: 30px;
}

.introducao-obras {
    margin-top: 108px;
    width: 100%;
    height: 380px;
    background: url('../img/obras/carrossel-01.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
    padding-top: 100px;
}

.introducao h1, .introducao-obras h1 {
    font-size: 45px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-externo {
    max-width: 320px;
    margin: 0 auto;
    color: white;
    margin-bottom: 40px;
}

.quote-externo p {
    font: 14px;
    font-style: italic;
}

.quote-externo p::before,
.quote-externo p::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 14px auto 10px auto;
}

.quote-externo cite {
    font-style: normal;
    font-size: 12px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.btn {
    border: 5px solid #95ae0b;
    padding: 10px 30px;
    color: #95ae0b;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn:hover {
    color: white;
    border-color: white;
}