.introducao-obras {
    margin-top: 108px;
    width: 100%;
    height: 380px;
    background: url('../img/bg5.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
    padding-top: 100px;
}

.obras{
    padding: 40px 0;
    text-align: center;
}

.card{
    margin-top: 40px;
}