/* Estilos Gerais */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recuo {
    text-indent: 4em
}

p,
.footer_contato ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    border: 5px solid #95ae0b;
    padding: 10px 30px;
    color: #95ae0b;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn:hover {
    color: white;
    border-color: white;
}

.subtitulo {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: .1em;
    color: #2c4d84;
    text-transform: uppercase;
    text-align: center;
}

.subtitulo::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #95ae0b;
    margin: 8px auto;
}

/* Fim dos Estilos Gerais */

/* Header */
.header {
    width: 100%;
    padding: 15px 0;
    position: fixed;
    top: 0;
    background-color: white;
    background-image: url('../img/header_marca.png');
    background-size: 40%;
    background-repeat: no-repeat;
    z-index: 10;
    /* -webkit-box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.59);
    -moz-box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.59);
    box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 0.59); */
}

#logoheader {
    margin-top: 5px;
    height: 70px;
    width: 110px;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
}

.header_menu ul li a {
    color: #2c4d84;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.header_menu ul li a:hover {
    color: #95ae0b;
}

.header_menu ul li a.menu_ativo {
    color: #95ae0b;
}

/* Fim dos estilos da Header */

/* introdução */

.introducao {
    margin-top: 110px;
    width: 100%;
    height: 380px;
    background: url('../img/bg.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
}

.introducao h1 {
    font-size: 45px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-externo {
    max-width: 320px;
    margin: 0 auto;
    color: white;
    margin-bottom: 40px;
}

.quote-externo p {
    font: 14px;
    font-style: italic;
}

.quote-externo p::before,
.quote-externo p::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 14px auto 10px auto;
}

.quote-externo cite {
    font-style: normal;
    /* font-weight: bold; */
    font-size: 12px;
    letter-spacing: .1em;
    text-transform: uppercase;
}


/* sobre */

.sobre {
    padding: 60px 0;
}

.sobre p {
    text-align: justify;
    font-size: 15px;

}

.sobre_empresa {
    margin-top: 8px;
}

.empresa h2 {
    margin-bottom: 35px;
}

.sobre_diretoria,
.sobre_tecnico {
    margin-top: 30px;
    margin-bottom: 40px;
}

.sobre_empresa,
.sobre_diretoria,
.sobre_tecnico {
    line-height: 22px;
}

.empresa,
.juridico,
.equipe_tecnica,
.diretoria {
    margin-bottom: 40px;
}

/* qualidade */

#logo_qualidade {
    height: 100px;
    width: 140px;
    margin: 0 auto;
    margin-top: 30px;
}

.qualidade {
    background-color: #2c4d84;
    padding: 60px 0;
}


.qualidade .subtitulo {
    color: white;
}

.qualidade_lista li {
    text-align: center;
    padding: 0 40px;
    bottom: 10px;
}

.qualidade_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 40px;
    color: white;
}

.qualidade_lista li h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #95ae0b;
    margin: 6px auto;
}

.qualidade p {
    color: white;
    line-height: 20px;
}

/* footer */

.footer {
    width: 100%;
    padding: 30px;
    background: url("../img/rodape.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
}

.footer h3 {
    font-size: 18px;
    color: #293d8d;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.footer p,
.footer ul li {
    margin-top: 10px;
}

.footer h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background-color: #95ae0b;
    margin-top: 8px;
}

.footer_historia {
    padding-right: 40px;
    text-align: justify;
    line-height: 20px;
}

.footer-contato ul li {
    font-size: 14px;
    line-height: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer_redes ul li {
    display: inline-block;
}


.footer_redes ul li a {
    font-size: 45px;
    color: #2c4d84;
}

.footer_redes ul li a:hover {
    color: #95ae0b;
}

.copy {
    margin-top: 0px;
    padding: 10px;
    background-color: #2c4d84;
    color: white;
    text-align: center;
}